body{
    font-family : Arial, Helvetica, sans-serif ;
}
.soPequeno {
    display: block;
}
.soMedio{
    display: none;
}
.soGrande{
    display: none;
}
article{
    width: 90%;
    float: none;
    margin: auto;
}
article img{
    max-width: 100%;
}
P{
    font-size: 1 .2em;
}
@media screen and (min-width : 420px) and (max-width: 680px){
    .soPequeno{
        display : none;
   
    }
    .soMedio{
        display: block;
    }
    .soGrande{
        display: none;
    }
   
}
article{
    width: 30%;
    float: left;
    margin: auto 1.5%;
    padding-bottom: 30px;
   
}
article:last-of-type img{
    margin-bottom: 21.5%;
 
}
article img{
    max-width: 100%;
}
@media screen and (min-width : 680px){
    .soPequeno{
        display : none;
   
    }
    .soMedio{
        display: none;
    }
    .soGrande{
        display: block;
    }
   
}
article{
    width: 30%;
    float: left;
    margin: auto 1.5%;
    padding-bottom: 30px;
   
}
article:last-of-type img{
    margin-bottom: 21.5%;
 
}
article img{
    max-width: 100%;
}
 